.chatItem {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  border-top: 1px solid var(--color-border);
  cursor: pointer;

  --chat-item-height: 47px;

  &:last-child {
    border-bottom: 1px solid var(--color-border);
  }

  &:hover {
    background-color: var(--color-message-foreign);
  }
}

.avatar {
  width: var(--chat-item-height);
  height: var(--chat-item-height);
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--color-input-background);
}

.description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  height: var(--chat-item-height);
}

.chatName {
  line-height: 1;
  margin: 0;
}

.lastMessage {
  flex-grow: 1;
  font-size: calc(1rem - 1px);
  line-height: 1.2;
  color: var(--color-text-secondary);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}
