<div class="popup {{ cs.signIn }}">
  <h2 class="popup-title">Sign in</h2>

  <form action="/" method="get">
    {{{ loginInput }}}
    {{{ passwordInput }}}

    {{> button label="Sign in" className=cs.submitButton type="submit"}}
    {{> linkButton label="Don't have an account?" className=cs.signUpLink href="/sign-up"}}
  </form>
</div>
