<div class="popup {{cs.signIn}}">
  <h1 class="popup-title">Sign in</h2>

  <form action="/" method="get">
    {{> inputGroup id="login" name="login" label="Login" type="text" errorMessage=errors.login}}
    {{> inputGroup id="password" name="password" label="Password" type="password"}}

    {{> button label="Sign in" className=cs.submitButton type="submit"}}
    {{> linkButton label="Don't have an account?" className=cs.signUpLink href="/sign-up"}}
  </form>
</div>