<div class="{{csProfileLayout.profileLayout}}">
  {{> profileBack backHref=backHref }}

  <main class="{{csProfileLayout.profileArea}}">
    {{> profileAvatar}}

    {{> @partial-block }}
  </main>
</div>