{{#> profileLayout  backHref="/user-profile" }}
  <form class="settings-section">
    {{> inputGroup id="old_password" name="ols_password" label="Old password" type="password"}}
    {{> inputGroup id="new_password" name="new_password" label="New Password" type="password"}}
    {{> inputGroup id="repeat_password" name="repeat_password" label="Repeat Password" type="password"}}

    {{> button label="Save" className="profile-submit" type="submit"}}
  </form>
{{/profileLayout}}