{{#> profileLayout  backHref="/user-profile" }}
  <form class="settings-section">
    {{> inputGroup id="oldPassword" name="oldPassword" label="Old password" type="password"}}
    {{> inputGroup id="newPassword" name="newPassword" label="New Password" type="password"}}
    {{> inputGroup id="password" name="password" label="Repeat Password" type="password"}}

    {{> button label="Save" className="profile-submit" type="submit"}}
  </form>
{{/profileLayout}}