{{#> profileLayout  backHref="/user-profile" }}
<form class="settings-section">
  {{ block oldPasswordInput }}
  {{ block newPasswordInput }}
  {{ block confirmPasswordInput }}
  {{ block submitButton }}
</form>
{{/profileLayout}}
