<form class="{{ cs.chatFooter }}">
  <button class="icon-button" type="button">
    {{> icon_attachment }}
  </button>

  {{ block chatInput }}

  <button class="icon-button {{ cs.buttonSend }}" type="submit">
    {{> icon_send }}
  </button>
</form>
