<form class="{{ cs.chatFooter }}">
  <button class="icon-button" type="button">
    {{> icon_attachment }}
  </button>

  <input
    class="{{ cs.input }}"
    name="message"
    type="text"
    placeholder="Message"
  />

  <button class="icon-button {{ cs.buttonSend }}" type="submit">
    {{> icon_send }}
  </button>
</form>
