<div class="{{cs.chatArea}}">

  <nav class="{{cs.sidebar}}">
    {{> chatLinkProfile }}
    {{> chatSearch }}

    <div class="{{cs.sidebarChats}}">
      {{#each chatItems}}
        {{> chatItem name=this.name lastMessage=this.lastMessage}}
      {{/each}}
    </div>
  </nav>

  <div class="{{cs.chatFeed}}">
    {{> chatHeader }}
  </div>
</div>